<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FamilyTree</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="dark light">
    <script src="https://unpkg.com/htmx.org@2.0.3" crossorigin="anonymous"></script>
    <style>
      :root {
        --x: {{.childnum}};
      }
    </style>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="favicon.svg" type="image/svg+xml">
  </head>

  <body>
    <div class="fam">
      <div class="row-parents">
        {{range .person.Parents}}
        <a class="card card-link" href="/?person_id={{.ID}}">
          <p class="card-name">{{.FullName}}</p>
          <p class="card-detail">{{.Age}} {{.Gender}}</p>
        </a>
        {{else}}
        <div class="card card-placeholder">
          <p class="card-name">?</p>
        </div>
        <div class="card card-placeholder">
          <p class="card-name">?</p>
        </div>
        {{end}}
      </div>

      <div class="col-siblings">
        {{range .person.Siblings}}
        <a class="card card-link" href="/?person_id={{.ID}}">
          <p class="card-name">{{.FullName}}</p>
          <p class="card-detail">{{.Age}} {{.Gender}}</p>
        </a>
        {{else}}
        <div class="card card-placeholder">
          <p class="card-name">?</p>
        </div>
        {{end}}
      </div>

      <div class="row-middle">
        <div class="card card-main">
          <p class="card-name">{{.person.FullName}}</p>
          <p class="card-detail">{{.person.Age}} {{.person.Gender}}</p>
        </div>
      </div>

      <div class="row-partners">
        {{range .person.Partners}}
        <a class="card card-link" href="/?person_id={{.ID}}">
          <p class="card-name">{{.FullName}}</p>
          <p class="card-detail">{{.Age}} {{.Gender}}</p>
        </a>
        {{else}}
        <div class="card card-placeholder">
          <p class="card-name">?</p>
        </div>
        {{end}}
      </div>

      <div class="row-children" style="">
        {{range .person.Children}}
        <a class="card card-link" href="/?person_id={{.ID}}">
          <p class="card-name">{{.FullName}}</p>
          <p class="card-detail">{{.Age}} {{.Gender}}</p>
        </a>
        {{else}}
        <div class="card card-placeholder">
          <p class="card-name">?</p>
        </div>
        {{end}}
      </div>

      <a href="/add" class="add-link">Add person</a>

    </div>
  </body>
</html>
